<query-editor-row query-ctrl="ctrl" class="generic-datasource-query-row" has-text-edit-mode="true">
    <div class="gf-form-inline">
        <div class="gf-form gf-form-select-wrapper max-width-16">
            <select class="gf-form-input" ng-model="ctrl.target.type"
                    ng-options="f as f for f in ctrl.queryTypes"></select>
        </div>

        <div class="gf-form" ng-if="ctrl.target.type != 'complex numeric query'">
            <button class="btn btn-secondary gf-form-btn" ng-click="ctrl.openScalyrLogs()">
                Show Logs In Scalyr
                <i class="fa fa-caret-right"></i>
            </button>
        </div>

    </div>
    <div class="gf-form-line">
        <div class="gf-form">
            <label class="gf-form-label width-10">Target</label>
            <input class="input-small gf-form-input" type="text"
                   ng-change="ctrl.onChangeInternal()"
                   ng-placeholder="ctrl.target.placeholder"
                   ng-model="ctrl.target.target">
        </div>
    </div>
    <div ng-if="ctrl.target.type == 'numeric query'">
        <div class="gf-form-inline">
            <div class="gf-form gf-form--grow">
                <label class="gf-form-label width-10">Filter</label>
                <input class="input-small gf-form-input gf-form--grow" type="text"
                       ng-change="ctrl.onChangeInternal()"
                       ng-model="ctrl.target.filter">
            </div>
        </div>
        <div class="gf-form-inline">
            <div class="gf-form">
                <label class="gf-form-label width-10">Graph Function</label>
                <div class="gf-form-select-wrapper width-10">
                    <select class="gf-form-input" ng-model="ctrl.target.graphFunction"
                            ng-change="ctrl.onChangeInternal()"
                            ng-options="f as f for f in ctrl.graphFunctions"></select>
                </div>
            </div>
            <div ng-switch on="ctrl.target.graphFunction">
                <div class="gf-form" ng-switch-when="mean|min|max|sumPerSecond|median|p10|p50|p90|p95|p99|p999|fraction" ng-switch-when-separator="|">
                    <label class="gf-form-label width-10">Expression</label>
                    <input class="input-small gf-form-input width-10" type="text"
                           ng-change="ctrl.onChangeInternal()"
                           ng-model="ctrl.target.expression">
                </div>
                <div class="gf-form" ng-switch-when="p(n)">
                    <label class="gf-form-label width-10">Expression</label>
                    <input class="input-small gf-form-input width-10" type="text"
                           ng-change="ctrl.onChangeInternal()"
                           ng-model="ctrl.target.expression">
                    <label class="gf-form-label width-10">nth Percentile</label>
                    <input class="input-small gf-form-input width-5" type="number"
                           ng-change="ctrl.onChangeInternal()"
                           ng-model="ctrl.target.n">
                </div>

            </div>
        </div>
        <div class="gf-form-inline">
            <div class="gf-form">

                <label class="gf-form-label width-10">Interval Type
                    <info-popover mode="left-absolute">
                        <p>Specify the time interval to group data on</p>
                        <span ng-show="ctrl.target.intervalType === 'window'">
                      Selected interval type is <em>Window</em>, this means data points will be returned in intervals up to the nearest second
                    </span>
                        <span ng-show="ctrl.target.intervalType === 'fixed'">
                      Selected interval type is  <em>Fixed</em>, this means data will be grouped up to the nearest {{ctrl.target.chosenType}}
                    </span>
                    </info-popover>
                </label>
                <div class="gf-form-select-wrapper">
                    <select class="gf-form-input input-small width-10" ng-model="ctrl.target.intervalType"
                            ng-change="ctrl.onChangeInternal()"
                            ng-options="f as f for f in ctrl.intervalTypes"></select>
                </div>

            </div>
        </div>
        <div class="gf-form-inline">
            <div class="gf-form" ng-if="ctrl.target.intervalType == 'window'">
                <label class="gf-form-label width-10">Window (seconds)</label>
                <input class="gf-form-input input-small width-10" type="number"
                       ng-change="ctrl.onChangeInternal()"
                       ng-model="ctrl.target.secondsInterval">
            </div>
            <div class="gf-form" ng-if="ctrl.target.intervalType == 'fixed'">
                <label class="gf-form-label width-10">Fixed Time Unit</label>
                <div class="gf-form-select-wrapper width-10">
                    <select class="gf-form-input input-small width-10" ng-model="ctrl.target.chosenType"
                            ng-change="ctrl.onChangeInternal()"
                            ng-options="f as f for f in ctrl.supportedIntervalTypes"></select>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="ctrl.target.type == 'facet query'">
        <div class="gf-form-inline">
            <div class="gf-form gf-form--grow">
                <label class="gf-form-label width-10">Filter</label>
                <input class="input-small gf-form-input gf-form--grow" type="text"
                       ng-change="ctrl.onChangeInternal()"
                       ng-model="ctrl.target.filter">
            </div>
        </div>
        <div class="gf-form-inline">
            <div class="gf-form">
                <label class="gf-form-label width-10">Field</label>
                <input class="input-small gf-form-input width-10" type="text"
                       ng-change="ctrl.onChangeInternal()"
                       ng-model="ctrl.target.field">
            </div>
        </div>
        <div class="gf-form-inline">
            <div class="gf-form">
                <label class="gf-form-label width-10">Max Count</label>
                <input class="input-small gf-form-input width-10" type="number"
                       ng-change="ctrl.onChangeInternal()"
                       ng-model="ctrl.target.maxCount">
            </div>
        </div>
    </div>

    <div ng-if="ctrl.target.type == 'complex numeric query'">
        <div class="gf-form-inline">
            <div class="gf-form gf-form--grow">
                <label class="gf-form-label width-10">Filter</label>
                <input class="input-small gf-form-input gf-form--grow" type="text"
                       ng-change="ctrl.onChangeInternal()"
                       ng-model="ctrl.target.filter">
            </div>
        </div>
        <div ng-if="ctrl.target.showQueryParts" ng-repeat="(key, value) in ctrl.queryParts" class="gf-form-inline">
            <div class="gf-form gf-form--grow">
                <label class="gf-form-label width-10">Part {{key + 1}}</label>
                <input class="input-small gf-form-input gf-form--grow" type="text" ng-value="value" readonly>
            </div>
        </div>
        <div ng-if="ctrl.datasource.parseComplex">
            <gf-form-switch class="gf-form" label="Show parts" label-class="width-10" checked="ctrl.target.showQueryParts"></gf-form-switch>
        </div>
        <div class="gf-form-inline">
            <div class="gf-form">
                <label class="gf-form-label width-10">Interval Type
                    <info-popover mode="left-absolute">
                        <p>Specify the time interval to group data on</p>
                        <span ng-show="ctrl.target.intervalType === 'window'">
                      Selected interval type is <em>Window</em>, this means data points will be returned in intervals up to the nearest second
                    </span>
                        <span ng-show="ctrl.target.intervalType === 'fixed'">
                      Selected interval type is  <em>Fixed</em>, this means data will be grouped up to the nearest {{ctrl.target.chosenType}}
                    </span>
                    </info-popover>
                </label>
                <div class="gf-form-select-wrapper">
                    <select class="gf-form-input input-small width-10" ng-model="ctrl.target.intervalType"
                            ng-change="ctrl.onChangeInternal()"
                            ng-options="f as f for f in ctrl.intervalTypes"></select>
                </div>

            </div>
        </div>
        <div class="gf-form-inline">
            <div class="gf-form" ng-if="ctrl.target.intervalType == 'window'">
                <label class="gf-form-label width-10">Window (seconds)</label>
                <input class="gf-form-input input-small width-10" type="number"
                       ng-change="ctrl.onChangeInternal()"
                       ng-model="ctrl.target.secondsInterval">
            </div>
            <div class="gf-form" ng-if="ctrl.target.intervalType == 'fixed'">
                <label class="gf-form-label width-10">Fixed Time Unit</label>
                <div class="gf-form-select-wrapper width-10">
                    <select class="gf-form-input input-small width-10" ng-model="ctrl.target.chosenType"
                            ng-change="ctrl.onChangeInternal()"
                            ng-options="f as f for f in ctrl.supportedIntervalTypes"></select>
                </div>
            </div>
        </div>
    </div>

</query-editor-row>
